@import 'variables.scss';

.loft-card-main {
    width: 20%;
    background-color: $white;
    padding-bottom: 30px;
    box-shadow: #0000001a 0px 4px 32px;
    border-radius: 16px;
    margin-left: 30px;

    &.hidden {
        display: none;
    }

    .loft-card-content-wrapper {
        padding: 20px;
        color: $dark-blue-marine;
        display: flex;
        flex-direction: column;

        > h1 {
            color: $light-pacific-blue;
        }

        > span,
        > li {
            padding: 5px 0;
        }

        > li {
            margin-left: 30px;
        }
    }
}
