@import 'variables.scss';

.loft-home-view-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loft-home-view-map-wrapper {
        height: 100%;
        width: calc(100% - 60px);
        display: flex;
        padding: 0 30px 30px 30px;
    }
}
