@import 'variables.scss';

.loft-map-main {
    height: 100%;
    width: 80%;
    &.full-width {
        width: 100%;
    }
    .loft-map-container {
        height: 100%;
        width: 100%;
        box-shadow: #0000001a 0px 4px 32px;
        border-radius: 16px;
    }
}
