@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900');

/*
* Loft's style variables
*/

$light-pacific-blue: #00abbe;
$dark-pacific-blue: #038f9e;
$dark-blue-marine: #253050;
$white: #ffffff;
$light-grey: #f7f7f7;

$font-family-loft: 'Roboto', sans-serif;
